@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';
@import "materialize/extras/nouislider";

.notice { background: green; }
.alert { background: red; }

.correct-field {
  outline: 2px solid green;
  border: 2px solid green;
}

.field-with-errors {
  transition: all 1s;
  outline: 2px solid red;
  border: 2px solid red;
  box-shadow: 2px 2px 0px gray;
  box-shadow: 3px 3px 0px gray;
  box-shadow: 4px 4px 0px gray;
  // box-shadow: 5px 5px 0px gray;
  margin: 5px;
}

.errors {
  text-decoration: underline;
  color: red;
}
